<?xml version="1.0"?>
<launch>
  
<arg name="waypoints_file" default="$(find orne_waypoints_editor)/waypoints_cfg/waypoints.yaml"/>
<arg name="dist_err"       default="0.8"/>

  <node name="waypoints_nav" pkg="fulanghua_waypoints_nav" type="waypoints_nav" output="screen">
    <param name="filename" value="$(arg waypoints_file)"/>
    <param name="dist_err" value="$(arg dist_err)"/>
</node>

</launch>
